<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.User %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.Status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.Priority %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task.comment %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
